.img-presentation-small {
  width: 200px;
  height: 200px;

}
.file {
  visibility: hidden;
  position: absolute;
  object-fit: cover;
  cursor: pointer;
  margin: 5px;
}

.imgSize {
  height: 140px;
  width: 250px;
}